<style>
  table {
    border-collapse: collapse;
  }
  
  table tr td {
    border-bottom: 1px solid #B5E853;
    padding: 6px;
  }
  
  table tr:last-child td {
    border-bottom: none;
  }

  .container > h2:empty, #downloads {
    display: none;
  }

  @media print {
    header {
      display: none !important;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('a[href$=".md"]').forEach(function(link) {
      link.href = link.href.replace(/\.md$/, ".html");
    });
  });
</script>

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
  mermaid.initialize({startOnLoad:true,theme:'dark'})
  await mermaid.run({querySelector:'code.language-mermaid'})
</script>
